.key-nocontent img {width: 200px;height: 200px;}
.key-nocontent {text-align: center;margin-top: 50px;}
.key-nocontent button {margin-left: 10px;}
.key-nocontent p {padding: 10px;color: #fff;background: #000;width: 150px;display: inline-block;}