@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

body {
    background-color: #16161a;
    font-family: "Nunito";
}
.return-btn {
    position: absolute;
    right: 2em;
    bottom: 2em;
}
img {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    left: 2em;
    top: 2em;
}
.username {
    margin-top: 0;
    color: #94a1b2;
    font-size: 20px;
}
.name {
    margin-bottom: 0;
    color: #94a1b2;
    font-size: 24px;
}

.column1 {
    float: left;
    width: 30%;
    padding: 10px;
}

.column2 {
    position: relative;
    top: 4em;
    float: left;
    width: 70%;
    padding: 10px;
}
.info {
    position: relative;
    top: 2em;
    text-align: center;
}
.images {
    margin-left: calc(50% - 150px);
}
.perso button,  .about-keys button, .others button{
    display: block;
    margin-bottom: 15px;
}
.perso,  .about-keys , .others{
    display: block;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1038px) {
    .column1 {
        float: none;
    }    
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #16161a;
    opacity: 0.8;
    z-index: 999; 
  }