@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

body {
    background-color: #16161a;
    font-family: "Nunito";
}
footer {
    position: absolute;
    bottom: 2em;
    left: calc(50% - 95px);
}
.foot-btn {
    text-align: center;
}
.foot-btn a {
    color: #fffffe;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #7f5af0;
    padding: 10px;
    transition: all ease-in 0.2s;
}
.foot-btn a:hover {
    background: #7f5af0;
}
#foot-btn-2{
    margin-left: 10px;
}
.main-content {
    margin-top: 100px;
    text-align: center;
    color: #e0e0e0;
}
h1 {
    font-size: 4em;
}

.main-btn {
    margin-top: 50px;
}
.main-btn a {
    margin-left: 10px;
    background-color: #7f5af0;
    color: #fffffe;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .main-btn a:hover {
    background-color: #5c37b5;
  }
  