@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

body {
  background-color: #16161a;
  font-family: "Nunito";
}

.key-page {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Nunito";
  background-color: #16161a;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  color: #fffffe;
}

.label-output {
  text-align: center;
  margin-bottom: 20px;
}

#password-output {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: 3px solid #7f5af0;
  padding: 30px;
  border-radius: 15px;
}

#copy-btn {
  background-color: #7f5af0;
  color: #fffffe;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 20px;
}

#copy-btn:hover {
  background-color: #5c37b5;
}

#options {
  display: inline;
  margin-bottom: 20px;
}

#length {
  display: inline;
  margin-bottom: 20px;
}

#generate {
  background-color: #7f5af0;
  color: #fffffe;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#generate:hover {
  background-color: #5c37b5;
}
.btnsss {
  position: relative;
  display: inline;
  margin-left: 40px;
}

.form {
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
}
#generate {
  margin-left: 10px;
}
select {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e0e0e0;
  font-size: 16px;
  color: #16161a;
}
select option {
  appearance: none;
  background-color: #e0e0e0;
  color: #16161a;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
select:hover {
  background-color: #5c37b5;
  color: #fffffe;
}
#copy-btn:hover,
#generate:hover {
  background-color: #5c37b5;
  
}


