@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");


body {
    font-family: "Nunito";
    background-color: #16161a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background-color: #16161a;
    color: #94a1b2;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  h2 {
    color: #fffffe;
  }
  
  button {
    background-color: #7f5af0;
    color: #fffffe;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #6c42bb;
  }
  
  p {
    margin: 10px 0;
  }
  #btm-nxt {
    display: block;
    margin: 20px auto;
    text-align: center;
    
  }
