/*
      _         
 __ _| |___ __  
 \ V / / / '  \  v6.0
  \_/|_\_\_|_|_|

VKM v6.0
Author: Carlos Padilla (cpadlab)
Proyect: https://github.com/cpadlab/vkm
*/

.blur-layer{position:fixed;top:0;left:0;width:100%;height:100%;background-color:var(--background);opacity:0;z-index:999;filter:blur(10px)}