<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="tittle">Vault</title>
    <link rel="stylesheet" href="http://localhost/vkm/css/navbar.css">
    <link rel="stylesheet" href="http://localhost/vkm/css/vault.css">
    <link rel="stylesheet" href="http://localhost/vkm/css/no-content.css">
</head>
<body>
    <div class="navbar">
	
        <div class="logo">
            <h2>WKM</h2>
        </div>        
        <ul class="links">
            <li><a href="http://localhost/vkm/templates/index.html">Home</a></li>
            <li><a href="http://localhost/vkm/templates/generate-key.html">Generate Password</a></li>
            <li><a href="https://github.com/14wual/vkm/" target="_BLANK">Support Us</a></li>
            <li><a href="#">user</a>
                <li><a href="http://localhost/vkm/templates/settings.html">Settings</a></li>
                <li><a href="#"  onclick="loadLogOutScript()">Log out</a></li>
            </li>
        </ul>
        <div class="right">
            <button id="link-vault">Vault</button>
        </div>        
        
    </div>

    <select id="categories-selector" class="categories-selector">
        <option value="all">all</option>
        <option value="default">default</option>
        <option value="social-network">social network</option>
        <option value="shopping">shopping</option>
        <option value="mails">mails</option>
        <option value="webs">webs</option>
        <option value="others">others</option>
    </select>
    <input type="text" class="search-bar" id="search-bar">
    <button class="search-btn" onclick="searchBTNSRC()">Search</button>
    <br>

    <button class="fixed-button" onclick="addnewKY()" id="show-form-btn">+ Add new key</button>
    
    <script src="../js/sesion.js"></script>
    <script src="../js/btn-vault.js"></script>
    <script src="../js/category-btn.js"></script>
    <script src="../js/category-item.js"></script>

    <div class="blackout"></div>

    <div class="ank-panel">
        <div class="ank-inputs">
            <div class="ank-inputs-site">
                <label for="">Site: </label>
                <input type="text" placeholder="site-example" id="siteInput">
                <br>
                <label for="">URL: </label>
                <input type="text" placeholder="example.com" id="urlInput">
            </div>
            <div class="ank-inputs-data">
                <label for="">Username: </label>
                <input type="text" placeholder="user-example" id="user-input">
                <br>
                <label for="">Password: </label>
                <input type="password" placeholder="pswd-example" id="pswd-input">
            </div>
            <div class="ank-select-cat">
                <label for="" id="categorySelects">Category: </label>
                <select id="categorySelect">
                    <option value="default">default</option>
                    <option value="social-network">social network</option>
                    <option value="shopping">shopping</option>
                    <option value="mails">mails</option>
                    <option value="webs">webs</option>
                    <option value="others">others</option>
                </select>
            </div>
        </div>
        <div class="ak-btns">
            <button id="hidden-form-btn">Cancel</button>
            <button id="add-nw-key-event">Add to Vault</button>
        </div>
    </div>

    <script>
        function loadLogOutScript() {
            var script = document.createElement('script');
            script.src = '../js/log-out.js';
            document.head.appendChild(script);
        }   
        
        function addnewKY() {
            var script = document.createElement('script');
            script.src = '../js/add-new.js';
            document.head.appendChild(script);
        }  

        function searchBTNSRC() {
            var script = document.createElement('script');
            script.src = '../js/search-btn.js';
            document.head.appendChild(script);
        }  

        
    </script>
</body>
</html>