<div class="ank-panel">
    <div class="ank-inputs">
        <div class="ank-inputs-site">
            <label for="">Site: </label>
            <input type="text" placeholder="site-example">
            <br>
            <label for="">URL: </label>
            <input type="text" placeholder="example.com">
        </div>
        <div class="ank-inputs-data">
            <label for="">Username: </label>
            <input type="text" placeholder="user-example">
            <br>
            <label for="">Password: </label>
            <input type="text" placeholder="pswd-example">
        </div>
        <div class="ank-select-cat">
            <label for="">Category: </label>
            <select id="options">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
    </div>
    <div class="ak-btns">
        <button>Cancel</button>
        <button>Add to Vault</button>
    </div>
</div>