<div class="key-content">
    <div class="key-banner">
        <img src="../imgs/padlock.png">
        <button id="key-copy-btn">Copy</button>
    </div>
    <div class="key-info">
        <p id="key-site">sitio1</p>
        <p id="key-user">usuario1</p>
        <div class="key-info-btn">
            <button id="key-settings-btn">
                <img src="../imgs/settings.png">
            </button>
            <button id="key-delete-btn">
                <img src="../imgs/trash.png">
            </button>
        </div>
    </div>
</div>