<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VKM | Generate Key</title>
    <link rel="stylesheet" href="http://localhost/vkm/css/generate-key.css">
        <link rel="stylesheet" href="http://localhost/vkm/css/navbar.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>
<body>
    <div class="navbar">
	
        <div class="logo">
            <h2>WKM</h2>
        </div>        
        <ul class="links">
            <li><a href="http://localhost/vkm/templates/index.html">Home</a></li>
            <li><a href="http://localhost/vkm/templates/generate-key.html">Generate Password</a></li>
            <li><a href="https://github.com/14wual/vkm/" target="_BLANK">Support Us</a></li>
            <li><a href="#" id="user-name-id-navbar">user</a>
                <li><a href="http://localhost/vkm/templates/settings.html">Settings</a></li>
                <li><a href="#"  onclick="loadLogOutScript()">Log out</a></li>
            </li>
        </ul>
        <div class="right">
            <button id="link-vault">Vault</button>
        </div>        
        
    </div>
    
    <div class="login-page">
        <div class="form">
            <div class="label-output">
                <label for="password-output" id="password-output">password-output</label>
            </div>
            <button id="copy-btn"><i class="fi fi-br-copiar-alt"></i> Copy</button>
            <br>
            <br>
            <select id="options">
                <option value="Letters">Letters</option>
                <option value="+Numbers">+Numbers</option>
                <option value="+Characters">+Characters</option>
            </select>
            <br>
            <input type="range" id="length" name="length" min="8" max="20" value="12">
            <br>
            <button id="generate">Generate Password</button>
        </div>
    </div>

    <script src="http://localhost/vkm/js/generate-key.js"></script>
    <script src="http://localhost/vkm/js/copy-btn.js"></script>
    <script src="../js/btn-vault.js"></script>
    <script src="../js/navbar.js"></script>
    <script>
        function loadLogOutScript() {
            var script = document.createElement('script');
            script.src = '../js/log-out.js';
            document.head.appendChild(script);
        }        
    </script>
</body>
</html>