<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VKM | Home</title>
    <link rel="stylesheet" href="http://localhost/vkm/css/navbar.css">
    <link rel="stylesheet" href="http://localhost/vkm/css/index.css">
</head>
<body>
    <div class="navbar">
	
        <div class="logo">
            <h2>WKM</h2>
        </div>        
        <ul class="links">
            <li><a href="http://localhost/vkm/templates/index.html">Home</a></li>
            <li><a href="http://localhost/vkm/templates/generate-key.html">Generate Password</a></li>
            <li><a href="https://github.com/14wual/vkm/" target="_BLANK">Support Us</a></li>
            <li><a href="#" id="user-name-id-navbar">user</a>
                <li><a href="http://localhost/vkm/templates/settings.html">Settings</a></li>
                <li><a href="#"  onclick="loadLogOutScript()">Log out</a></li>
            </li>
        </ul>
        <div class="right">
            <button id="link-vault">Vault</button>
        </div>        
        
    </div>
    
    <script src="../js/sesion.js"></script>
    <script src="../js/navbar.js"></script>
    <script src="../js/btn-vault.js"></script>

    <script>
        function loadLogOutScript() {
            var script = document.createElement('script');
            script.src = '../js/log-out.js';
            document.head.appendChild(script);
        }        
    </script>
</body>
</html>