<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="http://localhost/vkm/css/login.css">
</head>
<body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="text" placeholder="username" id="username"/>
          <input type="password" placeholder="password" id="password"/>
          <button id="login-btn">login</button>
          <p class="message">Not registered? <a href="http://localhost/vkm/templates/register.html">Create an account</a></p>
          <p class="message2"><a href="#">Have you forgotten the password?</a></p>
        </form>
      </div>
    </div>

    <script src="http://localhost/vkm/js/login.js"></script>
</body>
</html>