<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VKM | Register</title>
    <link rel="stylesheet" href="http://localhost/vkm/css/login.css">
</head>
<body>
    <div class="login-page">
      <div class="form">
        <form class="register-form">
          <input type="text" id="username" placeholder="username"/>
          <input type="password" id="password" placeholder="password"/>
          <input type="password" id="rpassword" placeholder="repeat password"/>
          <input type="text" id="email" placeholder="email address"/>
          <button id="register-btn" >create</button>
          <p class="message">Already registered? <a href="http://localhost/vkm/templates/login.html">Sign In</a></p>
        </form>
      </div>
    </div>

    <script src="http://localhost/vkm/js/register.js"></script>
</body>
</html>