<div class="blackout"></div>

    <div class="sett-panel">
        <div class="sett-inputs">
            <div class="sett-inputs-site">
                <label for="">Site: </label>
                <input type="text" placeholder="site-example" id="siteInput">
                <br>
                <label for="">URL: </label>
                <input type="text" placeholder="example.com" id="urlInput">
            </div>
            <div class="sett-inputs-data">
                <label for="">Username: </label>
                <input type="text" placeholder="user-example" id="user-input">
                <br>
                <label for="">Password: </label>
                <input type="password" placeholder="pswd-example" id="pswd-input">
            </div>
            <div class="sett-select-cat">
                <label for="" id="categorySelects">Category: </label>
                <select id="categorySelect">
                    <option value="default">default</option>
                    <option value="social-network">social network</option>
                    <option value="shopping">shopping</option>
                    <option value="mails">mails</option>
                    <option value="webs">webs</option>
                    <option value="others">others</option>
                </select>
            </div>
        </div>
        <div class="ak-btns">
            <button id="hidden-form-btn">Cancel</button>
            <button id="add-nw-key-event">Add to Vault</button>
        </div>
    </div>